<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create New Product</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            background-color: #212529;
            color: white;
        }
    </style>
</head>
<body>
<div class="container my-5">
    <h3 class="text-center mb-4">Create New Product</h3>

    <form th:action="@{/product/create}" th:object="${product}" method="post">
        <div class="form-group">
            <label for="nameInput">Name</label>
            <input th:field="*{productName}" type="text" class="form-control mb-4 col-6" id="nameInput" placeholder="Enter product name" required>
        </div>
        <div class="form-group">
            <label for="quantityInput">Quantity</label>
            <input th:field="*{productQuantity}" type="number" class="form-control mb-4 col-6" id="quantityInput" placeholder="Enter product quantity" required>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>