<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Car</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            background-color: #212529;
            color: white;
        }
    </style>
</head>
<body>
<div class="container my-5">
    <h2 class="text-center">Edit Car</h2>

    <form th:action="@{/car/editCar}" method="post" th:object="${car}">
        <input type="hidden" th:field="*{carId}" />
        <div class="form-group">
            <label for="carName">Car Name:</label>
            <input type="text" class="form-control mb-4 col-6" id="carName" th:field="*{carName}" required>
        </div>
        <div class="form-group">
            <label for="carColor">Car Color:</label>
            <input type="text" class="form-control mb-4 col-6" id="carColor" th:field="*{carColor}" required>
        </div>
        <div class="form-group">
            <label for="carQuantity">Quantity:</label>
            <input type="number" class="form-control mb-4 col-6" id="carQuantity" th:field="*{carQuantity}" required>
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
