<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>ADV Shop</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
  <style>
    body {
      background-color: #212529;
      color: white;
    }
    a+a {
      margin-left: 10px;
    }
  </style>
</head>
<body>
<div class="container my-5 text-center">
  <h1 class="mb-3">ADV Shop</h1>
  <img src="../static/image/burhan.png" alt="burhan" width="300" height="300" th:src="@{image/burhan.png}">
  <h3 class="mb-4">Welcome</h3>
  <a href="/product/list" class="btn btn-primary btn-lg">View Products</a>
  <a href="/car/listCar" class="btn btn-primary btn-lg">View Car</a>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>